body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1, h2 {
    font-family: 'Georgia', serif;
    color: #2c3e50;
  }
  
  p {
    font-size: 16px;
    color: #333;
  }
  
  img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
  }
  
  pre {
    background-color: #eee;
    padding: 10px;
    font-family: 'Courier New', monospace;
    text-align: center;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #ffffff;
  }
  
  th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #d3d3d3;
  }
  